.extending-container{
    padding: 40px;
    width: 100%;
    height: 400px;
   background-image: url('../../assets/coverage.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.extending-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extending-content-container h1{
    font-size: 40px;
    font-family: sf Pro Display;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}
.extending-content-container button{
    background-color: #e7077d;
    padding: 1.1em 2em;
    border: none;
    color: #fff;
    font-family: Neue Montreal;
    font-size: 14px;
    border-radius: 2em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    cursor: pointer;
}
.extending-content-container button:hover{
    background-color: #000;
}
@media all and (max-width: 600px){
    .extending-container{
        padding: 60px 20px;
    }
    .extending-content-container h1{
        font-size: 30px;
    }
}
@media all and (max-width: 410px){
    .extending-content-container h1{
        font-size: 22px;
    }
}