.footer-bottom{
    background-color: #000;
    padding: 20px 40px;
    width: 100%;

}
.footer-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.footer-bottom-copyright{
    width: 70%;
    color: #fff;
    font-family: Neue Montreal;
    font-size: 16px;
}

.footer-social-links{
    display: flex;
   gap: 15px;
}
.footer-social-links li a {
    color: #fff;
    font-size: 16px;
}
.back-to-top{
    background-color: #333;
    position: fixed;
    bottom: 13px;
    right: 20px;
    padding: 5px 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
@media all and (max-width: 650px){
    .footer-bottom{
    padding: 20px;
    }
    .footer-bottom-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .footer-bottom-copyright{
        text-align: center;
    }
}
@media all and (max-width: 450px){
    .footer-bottom-copyright{
        text-align: center;
        font-size: 12px;
    }
}