
@font-face {
    font-family: Neue Montreal;
    src: url(./assets/Fonts/neue/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue Medium;
    src: url(./assets/Fonts/neue/NeueMontreal-Medium.otf);
}

@font-face {
    font-family: Neue Bold;
    src: url(./assets/Fonts/neue/NeueMontreal-Bold.otf);
}
@font-face {
    font-family: Sf Pro Display;
    src: url(./assets/Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}
@font-face {
    font-family: Sf Pro Medium;
    src: url(./assets/Fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: Sf Pro Regular;
    src: url(./assets/Fonts/SFPRODISPLAYREGULAR.OTF);
}

*{
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  position: relative;
  display: block;
  overflow-x: hidden;
}

.swiper-button-next::after, .swiper-button-prev::after{
 font-size: 24px !important;
width: 30px;
height: 30px;
background-color: #999;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px 15px;
color: #fff;
}
@media all and (max-width: 600px){
  .swiper-button-next, .swiper-button-prev{
    padding: 15px;
  }
}