.mobile-nav{
    z-index: 20;
}
.menu-icon{
    font-size: 24px;
}
.mobile-nav-menu{
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px 40px;
    transition: all .5s;
    list-style: none;
}
.menu-open{
    top: 4.5rem;
}
.menu-close{
    top: -100%;
    overflow-y: hidden;
    height: 0;
}
.mobile-nav-menu > li{
width: 100%;
font-size: 16px;
font-family: Neue Montreal;
letter-spacing: -0.05em;
cursor: pointer;
}
.nav-item{
    position: relative;
}
.mobile-nav-menu > li::before{
content: ' ';
position: absolute;
top: 35px;
right: 28px;
width: 12px;
height: 2px;
background-color: #999;
z-index: 10;
transform: rotate(40deg);
transition: 0.5s;
}
.mobile-nav-menu > li::after{
content: ' ';
position: absolute;
top: 35px;
right: 20px;
width: 12px;
height: 2px;
background-color: #999;
z-index: 10;
transform: rotate(-40deg);
transition: 0.5s;
}
.mobile-nav-menu .activelist::after{
    right: 28px;
}
.mobile-nav-menu .activelist::before{
    right: 20px;
}

.mobile-nav-menu > li span{
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #999;
}
.mobile-nav-menu > li:last-child span{
    border-bottom: none;
}
.sub-menu{
    list-style: none;
    padding: 0 40px;
    color: #999;
    height: 0;
    opacity: 0;
    transition: all .5s;
}
.activelist .sub-menu{
    opacity: 1;
    height: 100%;
}
.sub-menu li{
    border-bottom: 1px solid #999;
    cursor: pointer;
    padding: 10px;
}
.sub-menu li a{
    text-decoration: none;
    color: #999;
}
@media all and (min-width: 900px){
    .mobile-nav{
        display: none;
    }
}